.ButtonsContainer{
    margin-top: 10px;
    
    display: flex;
    text-align: center;
    width: 160px;
    margin-right: auto;
    margin-left: auto;
}

.NextButtonWeb {
    font-size: small;
    width: 60px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.UndoButtonWeb {
    font-size: small;
    width: 60px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
