.App {
  text-align: center;
}

.canvas {
  border: 1px solid black;
  touch-action:none
}

.BigInfo{
  text-align: center;
  margin-top: 40vh;
}


@keyframes changeLetter {
  0% {
    content: "z";
  }
  50% {
    color: white;
  }
  100% {
    content: "zZ";
  }
}

.letter-changer {
  content: "z";
  animation: changeLetter 3s linear infinite alternate;
}