@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body{
  font-family: 'Gloria Hallelujah', cursive;
}

.App {
  text-align: center;
}

.CanvasContainer{
  margin-top: 20vh;
  text-align: center;
}
.canvas {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  touch-action:none
}

.BigInfo{
  text-align: center;
  margin-top: 40vh;
}


@keyframes changeLetter {
  0% {
    content: "z";
  }
  50% {
    color: white;
  }
  100% {
    content: "zZ";
  }
}

.letter-changer {
  content: "z";
  animation: changeLetter 3s linear infinite alternate;
}